.cover__link {
  background-image: url(../../../images/railroad__background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__link::before {
  content: '';
  display: block;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in;
}

.cover__link:hover::before {
  opacity: 0.8;
  background: #2A2C2F;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}


@media screen and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}


@media screen and (max-width: 320px) {
  .cover__link {
    min-height: 200px;
  }
}