.photo-grid__list {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  justify-content: center;
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  .photo-grid__list {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }
}

@media screen and (max-width: 768px) {
  .photo-grid__list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 16px;
      max-width: 720px;
  }
}

@media screen and (max-width: 600px) {
  .photo-grid__list {
      grid-template-columns: 1fr;
      grid-gap: 12px;
      max-width: 288px;
    }
}
