.lead__description {
  margin: 0 auto 64px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__description {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}