.intro {
  max-width: 690px;
  margin: 92px auto 92px 148px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    margin: 88px 24px 88px 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin: 64px 16px 64px 16px;
  }
}