@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__language-links/header__language-links.css);
@import url(../blocks/header/__language-link/header__language-link.css);
@import url(../blocks/header/__language-item/header__language-item.css);
@import url(../blocks/header/__language-link/_select/header__language-link_select.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/__description/lead__description.css);
@import url(../blocks/lead/__figure/lead__figure.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__title/lead__title.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__column/intro__column.css);
@import url(../blocks/intro/__description/intro__description.css);
@import url(../blocks/intro/__item/intro__item.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__number/intro__number.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__list/photo-grid__list.css);

@import url(../blocks/places/places.css);

@import url(../blocks/place/place.css);
@import url(../blocks/place/__description/place__description.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__site/place__site.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__title/cover__title.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__item/footer__item.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__navigation/footer__navigation.css);
