.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 80px;
  column-gap: 40px;
  row-gap: 48px;
  max-width: 984px;
}

.place:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
    max-width: 720px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: minmax(288px, 1fr);
    row-gap: 30px;
    margin-bottom: 50px;
  }
}